/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




body {
  background-color: #aa8356;
}

#index_header{
text-align: center;
}



img{
  width: 100%;
  
}

p{
  color: #ffffff;
  text-align: center;
}

h1 {
  color: #ffffff;	
	text-transform:uppercase;
    font-size: 23px;
   /* display: block; */
    text-align: center; 
     
}

form {
 color: #ffffff;
 background-color: #51473c;
 outline: 2px white solid;
 padding: 10px;
 
 
 
  
}

fieldset{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  
  
}

#info{
  line-height: 1.5;
  padding: 50px;
  text-align: justify;
}

input, select {
  /* width: 100%; */
  font-size: 14pt;
  padding: .25em;
  
	
}

h2 {
  color: #ffffff;
  text-align: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li {
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  -webkit-border-radius: 2%;
  background-color: #51473c;
  border-radius: 2%;
  color: #ffffff;
  list-style: none;
  margin: 10px;
  outline: 2px white solid;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

span{
    padding: 5px;
}

.fa-edit,.fa-trash{
    margin: 3px;
    padding: 2px;
    
} 

.selectize-control::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  background-size: 16px 16px;
  background: url(images/spinner.gif);
  content: ' ';
  display: block;
  height: 16px;
  opacity: 0;
  position: absolute;
  right: 34px;
  top: 12px;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 16px;
  z-index: 2;
}
.selectize-control.loading::before {
  opacity: 0.4;
}

.is-hidden { display: none; }

footer{
  padding: 10px;
}